* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 1.7em;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  border: 1px solid red;
  outline: 5px dotted green;
}

.button {
  display: inline-block;
  font-size: 18px;
  background: indianred;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: springgreen;
}

.text-primary {
  color: royalblue;
}

.text-secondary {
  color: greenyellow;
}

a {
  text-decoration: none;
}
